<nav class="navbar">
  <div class="logo" (click)="irAInicio()">NazaBarber</div>

  <ul class="nav-links">
    <li *ngIf="!estaLogueado">
      <a (click)="irALogin()">Iniciar sesión</a>
    </li>

    <li *ngIf="estaLogueado && esAdmin">
      <a [routerLink]="['/admin']">Panel Admin</a>
    </li>

    <ng-container *ngIf="estaLogueado && !esAdmin">
      <li>
        <a [routerLink]="['/usuario']">Mis turnos</a>
      </li>
      <li>
        <a [routerLink]="['/usuario/perfil']">Mi perfil</a>
      </li>
    </ng-container>

    <li *ngIf="estaLogueado">
      <a (click)="logout()">Cerrar sesión</a>
    </li>
  </ul>
</nav>
