<div class="login-container">
  <h2>Iniciar sesión</h2>

  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="ejemplo@correo.com"
      />
      <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="alert">
        <div *ngIf="form.get('email')?.errors?.['required']">El email es requerido</div>
        <div *ngIf="form.get('email')?.errors?.['email']">El formato del email no es válido</div>
      </div>
    </div>

    <div class="form-group">
      <label for="contrasena">Contraseña</label>
      <input
        id="contrasena"
        type="password"
        formControlName="contrasena"
        placeholder="Tu contraseña"
      />
      <div *ngIf="form.get('contrasena')?.touched && form.get('contrasena')?.invalid" class="alert">
        La contraseña es requerida
      </div>
    </div>


    <button class="btn mt-3" type="submit" [disabled]="form.invalid">Entrar</button>

     <div class="forgot-password">
      <a routerLink="/forgot-password">¿Olvidaste tu contraseña?</a>
    </div>

    
    <div *ngIf="error" class="alert alert-danger mt-3">
      {{ error }}
    </div>
  </form>

  <div class="crear-cuenta">
    <p>¿No tenés cuenta?</p>
    <button class="btn btn-outline-light" (click)="irACrearCuenta()">Crear cuenta</button>
  </div>
</div>
  